[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord = "*"
requests = "*"
bs4 = "*"
psycopg2 = "*"
pyodbc = "*"
pynacl = "*"
"testing.postgresql" = "*"
urllib3 = "*"
imap-tools = "*"
pywin32 = "*"
pyad = "*"
pdfminer = "*"

[requires]
python_version = "*"
